<%= stylesheet_link_tag "list.css" %>
<br><br>



<div id=menu>
  <div class="mini-gap"></div>
    <img src="/image/cafe.png">
<% @shops.each do |p| %>
  <%= p.name, shop_path(p) %>
<% end %>
  </div>
</div>